[core]
    editor = vim

[color]
    ui = auto

[alias]
    # Shortcuts for long command names
    st = status
    what = whatchanged
    co = checkout
    ci = commit
    cp = cherry-pick
    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    # List contributors with number of commits
    contributors = shortlog --summary --numbered

[merge]
    tool = vimdiff

[push]
    default = simple

[includeIf "gitdir:~/Dokumente/workspace/private/"]
    path = ~/secrets/.gitconfig/private

[includeIf "gitdir:~/Dokumente/workspace/work/"]
    path = ~/secrets/.gitconfig/work
