[core]
	editor = vim
	compression = 0

[color]
	ui = auto

[alias]
	# Shortcuts for long command names
	st = status
	what = whatchanged
	co = checkout
	ci = commit
	cp = cherry-pick
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	# List contributors with number of commits
	contributors = shortlog --summary --numbered

[merge]
	tool = vimdiff

[push]
	default = simple

[include]
	path = ~/.gitincludes/private

[includeIf "gitdir:~/Dokumente/workspace/work/"]
	path = ~/.gitincludes/work

[includeIf "gitdir:~/Documents/workspace/work/"]
	path = ~/.gitincludes/work

[http]
	postBuffer = 52428800
